@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #a3dbbf 0%, #006e4a 100%);
    min-height: 100vh;
}
